@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JuA";
  src:
    url("./fonts/Jua.otf") format("opentype"),
    url("./fonts/Jua.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Jua", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  @apply bg-gray-50 text-zinc-900 scrollbar-hide;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
